<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-thumbnail slot="start" style="width:100px;height:50px;">
        <img alt="Silhouette of mountains" src="../assets/logo.jpg" />
      </ion-thumbnail>
      <ion-label
        style="color:white;font-family:'Comic Sans MS', 'Comic Sans', cursive;font-size: 20px;font-weight: bolder;">
        </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="cd">

    <h5 style="margin-left:20px;color:rgb(15, 122, 210);font-weight:bolder;">Lessons on various topics.</h5>
    <ul>
      <li routerLink="/tabs/alpha" style="--ion-background-color: #CCF1FF;background-color: #CCF1FF">
        <div class="items">
          <ion-img src="../assets/abc.png"></ion-img>

          <div class="box"> Alphabets</div>
        </div>
      </li>

      <li routerLink="/tabs/video" style="--ion-background-color: #bbd7d8;background-color: #aed4dd">
        <div class="items">
          <ion-img src="../assets/music.png"></ion-img>

          <div class="box"> Rhymes</div>
        </div>
      </li>

      <li routerLink="/tabs/number" style="--ion-background-color: #5ecaaa;background-color: #a4ccc3">
        <div class="items">
          <ion-img src="../assets/123.png"></ion-img>
          <div class="box"> Numbers</div>
        </div>
      </li>

      <li routerLink="/tabs/story" style="--ion-background-color: #E0D7FF;background-color: #E0D7FF">
        <div class="items">
          <ion-img src="../assets/story.png"></ion-img>
          <div class="box"> Stories</div>
        </div>
      </li>
    </ul>
  </ion-card>
</ion-content>